<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Editar Prenda</title>
<script>
	// JavaScript para mostrar/ocultar el campo de descuento según el estado
	function toggleDescuento() {
		const estado = document.getElementById('estado').value;
		const descuentoRow = document.getElementById('descuentoRow');
		if (estado === 'PROMOCION') {
			descuentoRow.style.display = ''; // Mostrar
		} else {
			descuentoRow.style.display = 'none'; // Ocultar
		}
	}

	// Inicializar visibilidad del descuento al cargar la página
	window.onload = function() {
		toggleDescuento();
	};
</script>
</head>
<body>
	<div align="center">
		<h1>Editar Prenda</h1>
		<br />
		<table>
			<tbody>
				<tr>
					<th><a href="/tienda">Volver al menú principal</a></th>
					<th>&nbsp;</th>
					<th><a href="/tienda/prendas/list">Volver</a></th>
				</tr>
			</tbody>
		</table>
		<br />
		<form action="#" th:action="@{/tienda/prendas/save}"
			th:object="${prenda}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Prenda ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Descripción:</td>
					<td><input type="text" th:field="*{descripcion}" /></td>
				</tr>
				<tr>
					<td>Tipo:</td>
					<td><select id="tipo" name="tipo" th:field="*{tipo}">
							<option value="" disabled>Elija un tipo</option>
							<option th:each="tipoPrenda : ${tipoPrendas}"
								th:value="${tipoPrenda}" th:text="${tipoPrenda.descripcion}"
								th:selected="${tipoPrenda == prenda.tipo}"></option>
					</select></td>
				</tr>
				<tr>
					<td>Estado:</td>
					<td><select id="estado" th:field="*{estado}"
						onchange="toggleDescuento()">
							<option value="NUEVA" th:selected="${prenda.estado == 'NUEVA'}">Nueva</option>
							<option value="PROMOCION"
								th:selected="${prenda.estado == 'PROMOCION'}">Promoción</option>
							<option value="LIQUIDACION"
								th:selected="${prenda.estado == 'LIQUIDACION'}">Liquidación</option>
					</select></td>
				</tr>
				<tr id="descuentoRow" style="display: none;">
					<td>Descuento Promoción:</td>
					<td><input type="number" th:field="*{descuentoPromocion}"
						step="0.01" min="0" value="0" /></td>
				</tr>

				<tr>
					<td>Precio Base:</td>
					<td><input type="text" th:field="*{precioBase}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Guardar</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
